:root{
    --pink: #FF6861;
    --nav-bg: #262626;
    --sc-bg: #2A2A2A;
    --td-bg: #F8F8F8;
    --font-2: #636363;
    --ancho: 1000px;
    --margins: 0 auto;
    --facebook: #37589E;
    --twitter: #52A8E6;
    --instagram: #D02789;
    --youtube: #F60000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    color: white;
}

.menu-button{
    display: none;
    color: #d6615b;
    background: #dcd2d2;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 3;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.lateralMenu{
    /* display: none; */
    position: absolute;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    z-index: 99;
    background: rgba(36, 35, 35, 0.9);
    transition: 1s ease;
}

.lateralMenu ul{
    list-style: none;
    max-height: 100vh;
}

.lateralMenu ul li{
    margin-bottom: 5vw;
}

.lateralMenu ul li a{
    color: white;
    font-size: 5vw;
    text-decoration: none;
}

.lateralMenu .close-menu-button{
    margin-left: 70vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: var(--pink);
    font-size: 10vw;
    cursor: pointer;
}


strong{
    color: var(--pink);
    font-size: 24px;
}

.navbar-cont{
    background: var(--nav-bg);
}

.navbar{
    margin: var(--margins);
    width: var(--ancho);
    background: inherit;
}

.navbar .navbar-nav{
    flex-direction: initial;
}

.navbar li{
    margin-left: 20px;
}

.navbar a{
    color: white;
    text-transform: uppercase;
}

.navbar a:hover{
    color: var(--pink);
}

.jumbotron-container{
    background: var(--sc-bg);
}

.jumbotron{
    width: var(--ancho);
    margin: var(--margins);
    background: inherit;
}

.jumbotron .btn{
    background: var(--pink);
    color: white;
}

.contenedor{
    background: white;
}

/* .contenido{
    background: inherit;
    
    
} */

.features-section{
    background: var(--td-bg);
    padding: 40px 0;
}

.features{
    margin: var(--margins);
    width: var(--ancho);
}

.feature{
    color: var(--font-2);
    
}

.feature{
    width: 25%;
}

.feature img{
    width: 100px;
}

section{
    margin: 20px 0;
}

.sucursales{
    width: var(--ancho);
    margin: var(--margins);
    color: var(--font-2);
}

.sucursales .btn{
    background: var(--pink);
    margin-left: 5px;
}

.sucursales-buttons{
    margin: var(--margins);
}

.photos-container{
    width: var(--ancho);
    margin: var(--margins);
}

.photo{
    width: 160px;
}

.photo img{
    width: 100%;
    height: auto;
}

footer{
    background: var(--sc-bg);
    margin-top: 10px;
    /* padding-top: 25px; */
}

footer i{
    color: var(--pink);
}

.footer-cont, footer .copy{
    width: var(--ancho);
    margin: var(--margins);
    
}

footer .copy{
    padding: 10px 0;
}

.footer-cont{
    margin: 25px auto;
    padding-top: 28px;
}

.social-link{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
}

.social-link.facebook{
    background: var(--facebook);
}

.social-link.twitter{
    background: var(--twitter);
}

.social-link.youtube{
    background: var(--youtube);
}

.social-link.instagram{
    background: var(--instagram);
}

.social-link.pinterest{
    background: var(--youtube);
}

.social-link i{
    color: white;
}

footer .copy{
    background: var(--nav-bg);
}

@media screen and (max-width:1100px)
{
    :root{
        --ancho: 80%;
    }
}

@media screen and (max-width:768px)
{
    .feature{
        width: 60%;
        margin: var(--margins);
    }

    .feature img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:660px)
{
    .navbar-nav{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .feature{
        width: 100%;
        margin: initial;
    }
}