:root{
    --pink: #FF6861;
    --nav-bg: #262626;
    --sc-bg: #2A2A2A;
    --td-bg: #F8F8F8;
    --font-2: #636363;
    --ancho_: 1000px;
    --margins: 0 auto;
    --facebook: #37589E;
    --twitter: #52A8E6;
    --instagram: #D02789;
    --youtube: #F60000;
}

.content{
    background: var(--td-bg);
    width: var(--ancho_);
    margin: var(--margins);
    margin-top: 30px;
}

.item{
    color: var(--font-2);
    font-family: 'Roboto', sans-serif;
}

.image-container, .item div{
    width: 50%;
}

.image-container img
{
    width: 100%;
    height: auto;
}

form{
    font-family: 'Roboto', sans-serif;
    color: #2A2A2A;
    width: 70%;
    margin: var(--margins);
    padding: 10px 10px;
    text-align: center;
    margin: 20px auto;
}

form .btn{
    background: var(--pink);
}

@media screen and (max-width:1100px)
{
    :root{
        --ancho_: 80%;
    }
}

@media screen and (max-width:768px)
{
    .image-container, .item div{
        width: 100%;
    }
}